<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<p th:text="${book.titleBook} + ', ' + ${book.author} + ', ' + ${book.year} ">VALUE</p>
</br>

<div th:if="${peopleBook}">
    <p>Книга сейчас у: <span th:text="${peopleBook.fullName}">Person Book</span></p>

</div>

<div th:if="${people}">
    <span>Эта книга свободна. Кому её назначить?</span>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.id}" th:text="${person.fullName}"></option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
</div>

<form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
    <input type="submit" value="Освободить книгу">
</form>

<hr size="2" width="50%" align="left" color="gray">
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Редактировать</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>